<div class="row">
  <div class="col-md-3">
    <div class="panel facets">
      <div class="panel-body">
        <div class="btn-toolbar">
          <div class="shrink">
            <MetadataDashboardButton />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <ProviderInfo @model={{this.model}} />
  </div>
</div>